<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>H&W Management</title>
    <link rel="stylesheet" href="/css/output.css" />
</head>
<body>
    <p class="text-zinc-600 text-5xl font-semibold">Welcome to Health & Wellness Management</p>
    <% if (user) { %>
        <p class="text-zinc-600 text-3xl">Hello, <%= user.fullName %>!</p>
        <p class="text-zinc-600 text-xl">Email: <%= user.email %></p>
        <p class="text-zinc-600 text-xl">Mobile: <%= user.mobileNo %></p>
        <button type="button" id="logoutButton" class="rounded-lg bg-zinc-800 text-zinc-50 px-20 py-2 w-fit">Logout</button>
        <button type="button" id="logoutFromAllDeviceButton" class="rounded-lg bg-zinc-800 text-zinc-50 px-20 py-2 w-fit">Logout from All Device</button>
        <button type="button" id="logoutFromAllRemainingDeviceButton" class="rounded-lg bg-zinc-800 text-zinc-50 px-20 py-2 w-fit">Logout from All Remaining Device</button>
    <% } else { %>
        <p class="text-zinc-600 text-xl">User data is not available.</p>
        
    <% } %>
</body>
<script src="/js/index.js"></script>
<script src="/sweetalert2.all.min.js"></script>
</html>
