<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>H&W Management</title>
    <link rel="stylesheet" href="/css/output.css" />
</head>
<body>
    <p class="text-zinc-600 text-5xl font-semibold">Welcome to Health & Wellness Management</p>
    <% if (user) { %>
        <p class="text-zinc-600 text-3xl">Hello, <%= user.fullName %>!</p>
        <p class="text-zinc-600 text-xl">Email: <%= user.email %></p>
        <p class="text-zinc-600 text-xl">Mobile: <%= user.mobileNo %></p>
    <% } else { %>
        <p class="text-zinc-600 text-xl">User data is not available.</p>
    <% } %>
</body>
</html>
